<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>hello</h2>
    <h2><strong>userName:</strong><%= user.username %></h2>
    <h2><strong>email:</strong><%= user.email %></h2>

    <a href="/logout">logout</a>
</body>
</html>